[submodule "assets/typed.js"]
	path = assets/typed.js
	url = https://github.com/mattboldt/typed.js.git
[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = https://github.com/twbs/bootstrap.git
	branch = main
