body {
  background-image:    url( "./bg.jpg" );
  background-position: center;
  background-repeat:   no-repeat;
  background-size:     cover;
  text-shadow:         0 .05rem .1rem rgb( 0 0 0 / 50% );
  -webkit-box-shadow:  inset 0 0 20rem rgba( 0 0 0 / 50% );
  -moz-box-shadow:     inset 0 0 20rem rgba( 0 0 0 / 50% );
  box-shadow:          inset 0 0 20rem rgba( 0 0 0 / 50% );
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color:     #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
  max-width: 42em;
}